__pycache__/
.vscode/
chroma_aug_db/
chroma_db/
chroma_db11/
chroma_dim_db/
chroma_meta_db/
chroma_rotated_db/
chroma_rotated_log/
documents_RAGBench/
documents_vulne/
logs/
plots/
results/
venv/
venv2/
vulnerability_check/
RAGBench_whole/*.json



*.ipynb
*.png
todo.txt
*.html